:root {
  --primary: #ea1d2c;
  --primary-reduced: #ee4c58;

  --title-color: #414143;
  --text-color: #717171;
  
  --rating-color: #e7a74e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "iFood RC Titulos";
}

p,
div,
span {
  font-family: "iFood RC Textos";
}
